:root {
  --text-shadow: 
    -3px -3px 0 #000,
    -3px  0px  0 #000,
    -3px  3px  0 #000,
     0px -3px  0 #000,
     0px  3px  0 #000,
     3px -3px  0 #000,
     3px  0px  0 #000,
     3px  3px  0 #000;
}

/* Global Styles */
*, html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: lightgrey;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

/* Select Dropdown */
select {
    padding: 10px;
    display: flex;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    width: 90%;
    box-shadow: 0px 0px 25px 0px black;
    margin-top: -10px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    z-index: 100;
    border: 3px solid white;
    background-color: transparent; 
    color: white;
    font-family: Arial Black;
    font-size: 30px;
    text-shadow: var(--text-shadow);
}

option {
    font-weight: bold;
    background-color: darkorange;
}

/* Titles & Labels */
.title {
    font-size: 36px;
    text-align: center;
    margin: 30px 20px;
    font-weight: bold;
    color: white;
    text-shadow: var(--text-shadow);
}

.message {
    position: absolute;
    font-size: 34px;
    top: 210px;
    font-weight: bold;
    text-align: center;
}

.carousel {
    position: relative;
    width: 325%;
    height: 150%;
    margin-left: -50px;
    margin-top: -400px;
    scale: .8;
}

.carousel p {
    font-size: 33.5px;
    font-weight: bold;
    padding: 0 7px;
    border-radius: 7px;
    text-shadow: var(--text-shadow);
    color: white;
}

.carousel img {
    height: 167.27px;
    width: 112.74px;
    cursor: pointer;
    border-radius: 20px;
    border: 2px solid;
    box-shadow: 0px 0px 25px 0px black;
    object-fit: cover;
}

/* Side Profile Picture */
.sidepic {
    position: absolute;
    top: 24%;
    right: 38%;
    object-fit: contain;
    width: 150px;
    border-radius: 10px;
    border: 3px solid black;
}

/* Short Section */
.short {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 100vh;
    margin: 0 auto;
    background: linear-gradient(-45deg, grey 30%, darkorange 70%);
}

/* Positioning for Players */
#PG, #PG2, #SG, #SG2, #SF, #SF2, 
#PF, #PF2, #C, #C2 {
    position: absolute;
}

#PG { left: 46%; top: 46%; }
#PG2 { left: 46%; top: 33.25%; }
#SG { left: 36%; top: 59%; }
#SG2 { left: 36%; top: 46.25%; }
#SF { left: 56%; top: 79%; width: 150%;}
#SF2 { left: 58%; top: 66.25%; }
#PF { left: 39.5%; top: 83%; }
#PF2 { left: 39.5%; top: 70.25%; }
#C { left: 48.5%; top: 71%; }
#C2 { left: 48.5%; top: 58.25%; }

/* X Position */
#x-position {
    position: absolute;
    bottom: 600px;
    left: 400px;
    font-size: 40px;
    z-index: 10;
    color: black;
    font-weight: bold;
}

#PG3 {
    position: absolute;
    left: 885px; /* Decreased by 4% */
    top:400px;
}

#SG3 {
    position: absolute;
    left: 695px; /* Decreased by 4% */
    top: 570px;
}

#SF3 {
    position: absolute;
    left: 1120px; /* Decreased by 4% */
    top: 835px;
}   

#PF3 {
    position: absolute;
    left: 795px; /* Decreased by 4% */
    top: 890px;
}  

#C3 {
    position: absolute;
    left: 955px; /* Decreased by 4% */
    top: 730px;
}

.sidepic {
    border: black 3px solid;
}

option {
    background-color: darkorange
}

h4  {
    font-size: 30px;
    width: 100%;
    color: white;
    text-shadow: var(--text-shadow);
}