:root {
  --text-shadow: 
    -3px -3px 0 #000,
    -3px  0px  0 #000,
    -3px  3px  0 #000,
     0px -3px  0 #000,
     0px  3px  0 #000,
     3px -3px  0 #000,
     3px  0px  0 #000,
     3px  3px  0 #000;
}

*, html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 font-family: Arial, Helvetica, sans-serif;

}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: lightgrey;
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover; 
    position: relative;   
    overflow: hidden;
}

.short {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 100vh;
    margin: 0 auto;
    position: relative;
}

.playerInfo {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0px 0px 30px 0px black;
    padding: 20px 20px 5px 20px;
   width: 420px;
    height: 840px;
    text-align: center;
    position: relative;
    border: 2px solid;
}

h1 {
  font-size:50px;
  margin: 15px;
    text-shadow: 1px 1px 4px #000;
    text-align: center;
    color: white;
}

select {
  padding: 10px;
  font-size: 32px;
  width: 100%;
  margin: 0 auto 20px;
  color: black;
  text-align: center;
  border-radius: 10px;
    box-shadow: 0px 0px 30px 0px black;
  background-color: transparent;
  color: white;
font-weight: bold;
  text-shadow:var(--text-shadow);
border: 2px solid white;
  font-family: arial black;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

option {
  font-weight: bold;
  background-color: dodgerblue;
}

.info {
margin-top: 5px;
}

p {
  margin: 5px;
  font-size: 36px;
  width: 100%;
    font-weight: bold;
  color: white;
  text-shadow:var(--text-shadow);
}

.playerInfo img {
  border-radius: 15px;
  border: 2px solid;
  width: 100%;
  margin: 0 auto;
}

.sidepic {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
   border-radius: 20px;
  display: none;
}

.stats {
    font-size: 30px;
  position: absolute;
  padding: 10px 15px;
   bottom: 18px; 
   border: solid white; 
   border-radius: 30px;
   color: white;
    box-shadow: 0px 0px 30px 0px black;
  text-shadow:var(--text-shadow)
}